<div id="preloader" *ngIf="loading">
   <div id="status">&nbsp;</div>
</div>
<div class="dc_pg_spcHead">
  <div class="main-container">
     <div class="dc_pgHead_wrap text-center" style="background-image:url(./assets/images/head-bg.jpg);">
        <h1 class="dc_pg_title">{{aboutData.pagetitle}}</h1>
        <ol class="breadcrumb dc_cstBread f-w-B justify-content-center">
           <li class="breadcrumb-item"><a href="#">Home</a></li>
           <li class="breadcrumb-item active">{{aboutData.pagetitle}}</li>
        </ol>
     </div>
  </div>
  <div class="dc_spacer_t_90 dc_spacer_b_60">
     <div class="main-container">
        <div class="row row_gutter_30">
           
           <div class="col-md-6 align-self-center order-md-2">
              <div class="dc_txtSummary">
                 <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="heading"></h2>
                 <div class="dc_txt_summary dc_last_p text-justify">
                   <p [innerHTML]="content"></p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="dc_About_media_wrap">
                 <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD">
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="aboutData.topsection.image1.link" [alt]="aboutData.topsection.image1.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="aboutData.topsection.image2.link" [alt]="aboutData.topsection.image2.alt" />
                       </div>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
        <ul class="list-unstyled d-flex flex-wrap justify-content-center mt__60 dc_btnList-spc_60">
           <li><a [href]="aboutData.topsection.button_1_link" class="pagebtn dc_btn_min f-w-B">{{aboutData.topsection.button_1_text}}</a></li>
           <li>
              <!-- <div class="dropSec position-relative">
                 <a href="javascript:void(0)" class="pagebtn pagebtnblue dc_btn_min f-w-B getDirection">Get Direction</a>
                 <div class="directionList transtn-1">
                   <ul class="dire_listSec mb-0 list-unstyled">
                     <li class="list-item"> <a href="#" class="direLink"> Sec 23, Gurgaon </a> </li>
                     <li class="list-item"> <a href="#" class="direLink"> GK-2, New Delhi </a> </li>
                   </ul>
                 </div>
                 </div> -->
              <div ngbDropdown class="dropSec position-relative directList">
                 <!-- <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>Get Direction</button> -->
                 <a href="javascript:void(0)" class="pagebtn pagebtnblue dc_btn_min f-w-B getDirection" ngbDropdownToggle
                    id="dropdownMenuButton">{{aboutData.topsection.button_2_text}}</a>
                 <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="dirList">
                    <ul class="dire_listSec mb-0 list-unstyled" *ngFor="let buttondata of aboutData.topsection.locations">
                       <li class="list-item"> <a [href]="buttondata.link" target="_blank" class="direLink" >{{buttondata.name}}</a> </li>
                    </ul>
                 </div>
              </div>
              <!-- <div ngbDropdown  class="dropSec position-relative">
                 <button class="pagebtn pagebtnblue dc_btn_min f-w-B getDirection" id="dropdownMenuButton" ngbDropdownToggle>Get Direction</button>
                 <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="directionList transtn-1">
                     <ul class="dire_listSec mb-0 list-unstyled">
                         <li class="list-item"> <a href="#" class="direLink"> Sec 23, Gurgaon </a> </li>
                         <li class="list-item"> <a href="#" class="direLink"> GK-2, New Delhi </a> </li>
                     </ul>
                 </div>
                 </div> -->
           </li>
        </ul>
     </div>
  </div>
  <div class="dc_spacer_t_30 dc_spacer_b_30 bg-white">
     <div class="main-container">
        <div class="row row_gutter_30">
           <div class="col-md-6 align-self-center">
              <div class="dc_txtSummary">
                 <div class="dccSubTitle f-w-B opacity-5 mrg-b-30">{{aboutData.ouradvisorssection.small_heading}}</div>
                 <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="advisorheading"></h2>
                 <div class="dc_txt_summary dc_last_p text-justify">
                  <p [innerHTML]="advisorcontent"></p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="dc_About_media_wrap">
                 <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD" >
                    <li class="col-6" *ngFor="let advisordata of advisors">
                       <div class="dc_rds_8 mrg-b-20">
                          <img class="w-100" [src]="advisordata.image.link" [alt]="advisordata.image.alt" />
                       </div>
                       <div class="advisorName text-center">
                         {{advisordata.name}}
                       </div>
                    </li>                   
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="dc_spacer_t_30 dc_spacer_b_30">
     <div class="main-container">
        <div class="row row_gutter_30">           
           <div class="col-md-6 align-self-center order-md-2">
              <div class="dc_txtSummary">
                 <div class="dccSubTitle f-w-B opacity-5 mrg-b-30">{{aboutData.ourmissionsection.small_heading}}</div>
                 <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="missionheading"></h2>
                 <div class="dc_txt_summary dc_last_p text-justify">
                   <p [innerHTML]="content"></p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="dc_About_media_wrap">
                 <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD">
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="mission.image1.link" [alt]="mission.image1.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="mission.image2.link" [alt]="mission.image2.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="mission.image3.link" [alt]="mission.image3.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="mission.image4.link" [alt]="mission.image4.alt" />
                       </div>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="dc_spacer_t_30 dc_spacer_b_30 bg-white">
     <div class="main-container">
        <div class="row row_gutter_30">
           <div class="col-md-6 align-self-center">
              <div class="dc_txtSummary">
                 <div class="dccSubTitle f-w-B opacity-5 mrg-b-30">{{aboutData.ourvisionsection.small_heading}}</div>
                 <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="visionheading"></h2>
                 <div class="dc_txt_summary dc_last_p text-justify">
                  <p [innerHTML]="visioncontent"></p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="dc_About_media_wrap">
                 <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD">
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="vision.image1.link" [alt]="vision.image1.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="vision.image2.link" [alt]="vision.image2.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="vision.image3.link" [alt]="vision.image3.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="vision.image4.link" [alt]="vision.image4.alt" />
                       </div>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="dc_spacer_t_30 dc_spacer_b_30">
     <div class="main-container">
        <div class="row row_gutter_30">
           
           <div class="col-md-6 align-self-center order-md-2">
              <div class="dc_txtSummary">
                 <div class="dccSubTitle f-w-B opacity-5 mrg-b-30">{{aboutData.ourvaluessection.small_heading}}</div>
                 <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="valueheading"></h2>
                 <div class="dc_txt_summary dc_last_p text-justify">
                  <p [innerHTML]="valuecontent"></p>
                 </div>
                 <div class="d-flex justify-content-center">
                    <div class="mar-80 " *ngFor="let icondata of valueicons">
                       <div class="selfless ">
                          <img class="w-100" [src]="icondata.image.link" [alt]="icondata.image.alt">
                       </div>
                       <div class="f-s-18">{{icondata.text}}</div>
                    </div>
                   
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="dc_About_media_wrap">
                 <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD">
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="value.image1.link" [alt]="value.image1.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="value.image2.link" [alt]="value.image2.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="value.image3.link" [alt]="value.image3.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="value.image4.link" [alt]="value.image4.alt" />
                       </div>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="dc_spacer_t_30 dc_spacer_b_30 bg-white">
     <div class="main-container">
        <div class="row row_gutter_30">
           <div class="col-md-6">
              <div class="dc_txtSummary">
                 <div class="dccSubTitle f-w-B opacity-5 mrg-b-30">{{aboutData.testimonialssection.small_heading}}</div>
                 <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="testimonialheading"></h2>
              </div>
           </div>
           <div class="col-md-12">
              <div class="slider">
                 <div class="testimonials dc_testiArrow">
                    <!-- You can now use your library component in app.component.html -->
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" *ngIf="slides">
                    <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide-item">
                       <div class="transtn">
                          <div class="bx-shadow testiRect">
                             <div class="d-flex mar-b-38">
                                <div class="clientimg">
                                   <img class="w-100" src="{{slide.image.link}}" alt="">
                                </div>
                                <div class="f-s-16 f-w-b align-self-center clientName f-w-B">
                                   {{slide.name}}
                                   <div class="clientName-pos">{{slide.designation}}</div>
                                </div>
                             </div>
                             <div class="testiTxt" [innerHTML]="slide.content">
                             </div>
                          </div>
                       </div>
                    </div>
                    </ngx-slick-carousel>
                 </div>
              </div>
              <!-- <ngx-slick-carousel class="cstSlider sliderDotResp" #slickModal="slick-carousel" [config]="slideConfig">
                 <div ngxSlickItem class="slide">
                   <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                     <img src="https://i.picsum.photos/id/{{slide}}/300/200.jpg" alt="" width="100%">
                   </div>
                 </div>
                 </ngx-slick-carousel> -->
              <!-- <div class="slider">
                 <div class="testimonials dc_testiArrow">
                 
                   <div class="slide-item">
                     <div class="transtn">
                       <div class="bx-shadow testiRect">
                         <div class="d-flex mar-b-38">
                           <div class="clientimg">
                             <img class="w-100" src="./assets/images/dij.svg" alt="">
                           </div>
                           <div class="f-s-16 f-w-b align-self-center clientName f-w-B">Dij Phukan
                             <div class="clientName-pos">Patient</div>
                           </div>
                         </div>
                         <div class="testiTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua.</div>
                       </div>
                     </div>
                   </div>
                 
                   <div class="slide-item">
                     <div class="transtn">
                       <div class="bx-shadow testiRect">
                         <div class="d-flex mar-b-38">
                           <div class="clientimg">
                             <img class="w-100" src="./assets/images/alisha.svg" alt="">
                           </div>
                           <div class="f-s-16 f-w-b align-self-center clientName f-w-B">Alisha Dash
                             <div class="clientName-pos">Patient</div>
                           </div>
                         </div>
                         <div class="testiTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua.</div>
                       </div>
                     </div>
                   </div>
                 
                   <div class="slide-item">
                     <div class="transtn">
                       <div class="bx-shadow testiRect">
                         <div class="d-flex mar-b-38">
                           <div class="clientimg">
                             <img class="w-100" src="./assets/images/frank.svg" alt="">
                           </div>
                           <div class="f-s-16 f-w-b align-self-center clientName f-w-B">Frank Gallaghers
                             <div class="clientName-pos">Patient</div>
                           </div>
                         </div>
                         <div class="testiTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua.</div>
                       </div>
                     </div>
                   </div>
                 
                   <div class="slide-item">
                     <div class="transtn">
                       <div class="bx-shadow testiRect">
                         <div class="d-flex mar-b-38">
                           <div class="clientimg">
                             <img class="w-100" src="./assets/images/dij.svg" alt="">
                           </div>
                           <div class="f-s-16 f-w-b align-self-center clientName f-w-B">Dij Phukan
                             <div class="clientName-pos">Patient</div>
                           </div>
                         </div>
                         <div class="testiTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua.</div>
                       </div>
                     </div>
                   </div>
                 
                   <div class="slide-item">
                     <div class="transtn">
                       <div class="bx-shadow testiRect">
                         <div class="d-flex mar-b-38">
                           <div class="clientimg">
                             <img class="w-100" src="./assets/images/alisha.svg" alt="">
                           </div>
                           <div class="f-s-16 f-w-b align-self-center clientName f-w-B">Alisha Dash
                             <div class="clientName-pos">Patient</div>
                           </div>
                         </div>
                         <div class="testiTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                           tempor incididunt ut labore et dolore magna aliqua.</div>
                       </div>
                     </div>
                   </div>
                 
                 </div>
                 </div> -->
           </div>
        </div>
     </div>
  </div>
  <div class="dc_spacer_t_30 dc_spacer_b_30">
     <div class="main-container">
        <div class="row row_gutter_30">
           
           <div class="col-md-6 align-self-center order-md-2">
              <div class="dc_txtSummary">
                 <div class="dccSubTitle f-w-B opacity-5 mrg-b-30">{{technology.small_heading}}S</div>
                 <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="technologyheading"></h2>
                 <div class="dc_txt_summary dc_last_p text-justify">
                    <p [innerHTML]="technologycontent"></p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="dc_About_media_wrap">
                 <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD">
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="technology.image1.link" [alt]="technology.image1.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="technology.image2.link" [alt]="technology.image2.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="technology.image3.link" [alt]="technology.image3.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="technology.image4.link" [alt]="technology.image4.alt" />
                       </div>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="dc_spacer_t_30 dc_spacer_b_30 bg-white">
     <div class="main-container">
        <div class="row row_gutter_30">
           <div class="col-md-6 align-self-center">
              <div class="dc_txtSummary">
                 <div class="dccSubTitle f-w-B opacity-5 mrg-b-30">{{aboutData.oursoftwaresections.small_heading}}</div>
                 <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="softwareheading"></h2>
                 <div class="dc_txt_summary dc_last_p text-justify">
                   <p [innerHTML]="softwarecontent"></p>
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="dc_About_media_wrap">
                 <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD">
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="software.image1.link" [alt]="software.image1.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="software.image2.link" [alt]="software.image2.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="software.image3.link" [alt]="software.image3.alt" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="software.image4.link" [alt]="software.image4.alt" />
                       </div>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="dc_spacer_t_30 dc_spacer_b_30">
     <div class="main-container">
        <div class="row row_gutter_30">
           
           <div class="col-md-6 align-self-center order-md-2">
              <div class="dc_txtSummary">     
                <div class="dccSubTitle f-w-B opacity-5 mrg-b-30">{{aboutData.oursupportsections.small_heading}}</div>
                 <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="supportheading"></h2>
                 <div class="dc_txt_summary dc_last_p text-justify">
                  <p [innerHTML]="supportcontent"></p>
                 </div>
                 <div class="d-flex justify-content-center">
                    <div class="mar-80 " *ngFor="let icondata of supporticon">
                       <div class="selfless ">
                          <img class="w-100" [src]="icondata.image.link" [alt]="icondata.image.alt">
                       </div>
                       <div class="f-s-18">{{icondata.text}}</div>
                    </div>                    
                 </div>
              </div>
           </div>
           <div class="col-md-6">
              <div class="dc_About_media_wrap">
                 <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD">
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="support.image1.link" [alt]="support.image1.link" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="support.image2.link" [alt]="support.image2.link" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="support.image3.link" [alt]="support.image3.link" />
                       </div>
                    </li>
                    <li class="col-6">
                       <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" [src]="support.image4.link" [alt]="support.image4.link" />
                       </div>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<app-footer-top [dataString]="footersection"></app-footer-top>