<div class="dc_pg_spcHead">
<div class="main-container">
    <div class="dc_pgHead_wrap text-center" style="background-image:url(./assets/images/head-bg.jpg);">
        <h1 class="dc_pg_title">About DCC</h1>
        <ol class="breadcrumb dc_cstBread f-w-B justify-content-center">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Library</li>
        </ol>
    </div>



</div>

<div class="dc_spacer_t_90 dc_spacer_b_60">
    <div class="main-container">
        <div class="row row_gutter_30">
            <div class="col-md-6">
                <div class="dc_About_media_wrap">
                    <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD">
                        <li class="col-6">
                            <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" src="./assets/images/about-img-1.jpg"
                                    alt="" /></div>
                        </li>
                        <li class="col-6">
                            <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" src="./assets/images/about-img-2.jpg"
                                    alt="" /></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dc_txtSummary">
                    <h2 class="headingSec line_H_1 mrg-b-30">With Over 30 Years Of Global Experience</h2>
                    <div class="dc_txt_summary dc_last_p">
                        <p>We understand how you feel when you pooch is not feeling good. That’s why we exist. Get your
                            four
                            legged animal to visit us onceand we will become friends.</p>
                        <p>We understand how you feel when you pooch is not feeling good. That’s why we exist. Get your
                            four
                            legged animal to visit us. We understand how you feel when you pooch is not feeling good.
                            That’s why
                            we exist. Get your four legged animal to visit us onceand we will become friends.</p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-unstyled d-flex flex-wrap justify-content-center mt__60 dc_btnList-spc_60">
            <li><a href="#" class="pagebtn dc_btn_min f-w-B">Make an appointment</a></li>
            <li><a href="#" class="pagebtn pagebtnblue dc_btn_min f-w-B">Get Direction</a></li>
        </ul>
    </div>
</div>

<div class="dc_spacer_t_30 dc_spacer_b_30 bg-white">
    <div class="main-container">
        <div class="row row_gutter_30">
            <div class="col-md-6">
                <div class="dc_txtSummary">
                    <div class="dccSubTitle f-w-B opacity-5 mrg-b-30">OUR ADVISORS</div>
                    <h2 class="headingSec line_H_1 mrg-b-30">Our Advisors Are Also Happen To Be Animal Lovers</h2>
                    <div class="dc_txt_summary dc_last_p">
                        <p>We understand how you feel when you pooch is not feeling good. That’s why we exist. Get your
                            four
                            legged animal to visit us onceand we will become friends.</p>
                        <p>We understand how you feel when you pooch is not feeling good. That’s why we exist. Get your
                            four
                            legged animal to visit us. We understand how you feel when you pooch is not feeling good.
                            That’s why
                            we exist. Get your four legged animal to visit us onceand we will become friends.</p>
                        <p>We understand how you feel when you pooch is not feeling good. That’s why we exist. Get your
                            four
                            legged animal to visit us onceand we will become friends.</p>
                        <p>We understand how you feel when you pooch is not feeling good. That’s why we exist. .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dc_About_media_wrap">
                    <ul class="list-unstyled row row_gutter_15 dc_wrapCols_UD">
                        <li class="col-6">
                            <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" src="./assets/images/about-img-1.jpg"
                                    alt="" /></div>
                        </li>
                        <li class="col-6">
                            <div class="dc_wrap_abt_Img dc_rds_8"><img class="w-100" src="./assets/images/about-img-2.jpg"
                                    alt="" /></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>