<header class="headerSec" *ngIf="headerData">
    <div class="main-container container">
       <div class="cstNavbar_sec">
          <nav class="navbar navbar-expand-lg p-0">
             <div class="mobileLeft_menu">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                  <span class="navbar-toggler-icon"></span>
                </button>
             </div>
             <a class="navbar-brand navbarLogo" href="/">
             <img class="w-100" [src]="headerData.logo" alt="DCC Logo">
             </a>            
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto" *ngIf="headerData">
                    <li class="nav-item" *ngFor="let data of headerData.mainmenu;let i = index">
                       
                      <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="data.link" *ngIf="data.name != 'Pet  Health'">{{data.name}}</a>
                      <a class="nav-link"  href="{{data.link}}" target="_blank" *ngIf="data.name == 'Pet  Health'">{{data.name}}</a>
                   </li>                   
                </ul>
                <div class="clsBtnWrap">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                </div>
             </div>
             <div class="mobMenu_sec">
               <div class="mobSec d-flex">
                  <div class="emergencyBtn_sec">
                     <a [href]="headerData.emergency_link" target="_blank" class="emergencyLink font-rubik f-w-M transtn-1">
                        Emergency
                     </a>
                  </div>                  
               </div>
            </div>
          </nav>
       </div>
    </div>
</header>