<header class="headerSec">
    <div class="main-container container">
       <div class="cstNavbar_sec">
          <nav class="navbar navbar-expand-md p-0">
             <a class="navbar-brand navbarLogo" href="#">
             <img class="w-100" [src]="headerData.logo" alt="DCC Logo">
             </a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
             <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto" *ngIf="headerData">
                    <li class="nav-item" *ngFor="let data of headerData.mainmenu;let i = index">
                      <a class="nav-link" href="{{data.link}}">{{data.name}}</a>
                   </li> 
                   <!-- <li class="nav-item">
                      <a class="nav-link" href="https://ardemos.in/dcc/about-dcc">About DCC</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="https://ardemos.in/dcc/ourservices">Services</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="https://ardemos.in/dcc/ourteam">Team</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">Pet Health</a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                   </li> -->
                </ul>
             </div>
             <div class="emergencyBtn_sec">
                <a href="#" class="emergencyLink font-rubik f-w-M transtn-1">
                  Emergency
                </a>
             </div>
          </nav>
       </div>
    </div>
 </header>