<!-- Loader Start -->
<div id="preloader" *ngIf="loading">
   <div id="status">
       <div id="cms-loadding">
           <div class="loading-spinner">
               <div class="cms-bounce1"></div>
               <div class="cms-bounce2"></div>
               <div class="cms-bounce3"></div>
           </div>
       </div>
   </div>
</div>
<!-- Loader End -->
<div class="dc_pg_spcHead" *ngIf="servicedata">
    <div class="main-container">
      <fieldset data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
       <div class="dc_pgHead_wrap text-center" style="background-image:url(assets/images/head-bg.jpg);">
          <h1 class="dc_pg_title">{{servicedata.pagetitle}}</h1>
          <ol class="breadcrumb dc_cstBread f-w-B justify-content-center">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
             <li class="breadcrumb-item active">{{servicedata.pagetitle}}</li>
          </ol>
       </div>
       </fieldset>
    </div>
    <div class="dc_spacer_t_90 dc_spacer_b_60">
       <div class="main-container">
          <div class="row row_gutter_30">
             <div class="col-md-6">
                <div class="dc_txtSummary">
                  <fieldset data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                   <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="heading"></h2>
                     </fieldset>
                   <div class="dc_txt_summary dc_last_p text-justify" data-aos="fade-up" data-aos-duration="700" data-aos-delay="500">
                    <p [innerHTML]="left_content"></p>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="dc_txtSummary">
                   <div class="dc_txt_summary dc_last_p text-justify" data-aos="fade-up" data-aos-duration="700" data-aos-delay="700">
                    <p [innerHTML]="right_content"></p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="spacer_t_60 spacer_b_60">
       <div class="main-container">
          <div class="row rowSpace" *ngIf="services">
             <div class="col-sm-6 col-md-4" *ngFor="let data of services" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                <div class="dc_serviceBx transtn-1 mrg-b-30">
                   <div class="dc_serviceIcon_wrap text-center">
                      <div class="servieIcon">
                        <img [src]="data.icon.link" class="w-100" [alt]="data.icon.alt">
                      </div>
                      <div class="serviceTxt f-w-B line_H_1_5">
                        {{data.name}}
                      </div>
                      <div class="dc_serviceTxt" [innerHTML]="data.description">
                        
                      </div>
                      <div class="serviceReadMore_Wrap line_H_1 transtn-1">
                         <a routerLink="/DCC-pet-services/{{data.slug}}" class="dc_readmore font-rubik">
                         Read More
                         </a>
                      </div>
                   </div>
                </div>
             </div>            
          </div>
          <div class="row rowSpace">
             <div class="col-md-12">
                <div class="commonLinks text-center" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                   <ul class="list-unstyled d-flex flex-wrap justify-content-center dc_btnList-spc_60">
                      <li><a [href]="servicedata.details.button_1_link" class="pagebtn dc_btn_min f-w-B">{{servicedata.details.button_1_text}}</a></li>
                      <li>
                         <div ngbDropdown class="dropSec position-relative directList">
                           <a href="javascript:void(0)" class="pagebtn pagebtnblue dc_btn_min f-w-B getDirection" ngbDropdownToggle id="dropdownMenuButton">{{servicedata.details.button_2_text}}</a>

                           <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="dirList">
                              <ul class="dire_listSec mb-0 list-unstyled" *ngFor="let buttondata of servicedata.details.locations">
                                 <li class="list-item"> <a [routerLink]="buttondata.link" class="direLink" >{{buttondata.name}}</a> </li>
                              </ul>
                           </div>
                         </div>
                      </li>
                   </ul>                  
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <fieldset *ngIf="footersection">
 <app-footer-top [dataString]="footersection"></app-footer-top>
 </fieldset>