<div class="dc_pg_spcHead">
<!-- Title -->
<div class="main-container">
    <div class="dc_pgHead_wrap text-center" style="background-image:url(./assets/images/head-bg.jpg);">
        <h1 class="dc_pg_title">{{servicedata.pagetitle}}</h1>
        <ol class="breadcrumb dc_cstBread f-w-B justify-content-center">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{servicedata.pagetitle}}</li>
        </ol>
    </div>
</div>

<div class="dc_spacer_t_90 dc_spacer_b_60">
    <div class="main-container">
        <div class="row row_gutter_30">
            <div class="col-md-6" *ngIf="left_content">
                <div class="dc_txtSummary">
                    <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="heading"></h2>
                    <div class="dc_txt_summary dc_last_p text-justify">
                       <p [innerHTML]="left_content"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="right_content">
                <div class="dc_txtSummary">
                    <div class="dc_txt_summary dc_last_p text-justify">
                        <p [innerHTML]="right_content"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer_t_60 spacer_b_60">
    <div class="main-container">
        <div class="row rowSpace" *ngIf="services">
            <div class="col-md-4" *ngFor="let data of services">
                <div class="dc_serviceBx transtn-1 mrg-b-30">
                    <div class="dc_serviceIcon_wrap text-center">
                        <div class="servieIcon">
                            <img [src]="data.icon.link" class="w-100" [alt]="data.icon.alt">
                        </div>
                        <div class="serviceTxt f-w-B line_H_1_5">
                          {{data.name}}
                        </div>
                        <div class="dc_serviceTxt" [innerHTML]="data.description">
                          
                        </div>
                        <div class="serviceReadMore_Wrap line_H_1 transtn-1">
                            <a href="#" class="dc_readmore font-rubik">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>
</div>