.directList .dropdown-menu.show {
    background: transparent;
    border: none;
}

.directList li.list-item {
    margin: 0.214vw 0;
}

.directList .dirList.dropdown-menu.show {
    /* transform: translate(2vw, 3.214vw) !important; */
    max-width: 14.583vw;
    width: 100%;
    padding: 0;
    margin-top: 0;
}

.directList .dropdown-toggle::after{
    display: none;
}


::ng-deep .faq_card .card {
    border: 0;
}

::ng-deep .faq_card button.btn.btn-link {
    width: 100%;
    
    border-radius: 0;
    padding: 0;     
}
::ng-deep .faq_card button.btn.btn-link:focus{
    outline: none;
    box-shadow: none;
}