

    <div class="dc_pg_spcHead">

        <div class="main-container">
            <div class="dc_pgHead_wrap text-center" style="background-image:url(/assets/images/head-bg.jpg);">
                <h1 class="dc_pg_title">Our Team</h1>
                <ol class="breadcrumb dc_cstBread f-w-B justify-content-center">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Our Team</li>
                </ol>
            </div>

        </div>

        <div class="dc_spacer_t_90 dc_spacer_b_60">
            <div class="main-container">
                <div class="row row_gutter_30">

                    <div class="col-md-6">
                        <div class="dc_txtSummary">
                            <h2 class="headingSec line_H_1 mrg-b-30">With Over 30 Years
                                Of Global Experience</h2>
                            <div class="dc_txt_summary dc_last_p text-justify">
                                <p>We understand how you feel when you pooch is not feeling good. That’s why we exist.
                                    Get your four legged animal to visit us onceand we will become friends.</p>
                                <p>We understand how you feel when you pooch is not feeling good. That’s why we exist.
                                    Get your four legged animal to visit us. We understand how you feel when you pooch
                                    is not feeling good. That’s why we exist. Get your four legged animal to visit us
                                    onceand we will become friends.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="dc_txtSummary">
                            <div class="dc_txt_summary dc_last_p text-justify">
                                <p>We understand how you feel when you pooch is not feeling good. That’s why we exist.
                                    Get your four legged animal to visit us onceand we will become friends.</p>
                                <p>We understand how you feel when you pooch is not feeling good. That’s why we exist.
                                    Get your four legged animal to visit us. We understand how you feel when you pooch
                                    is not feeling good. That’s why we exist. Get your four legged animal to visit us
                                    onceand we will become friends.</p>
                                <p> We understand how you feel when you pooch is not feeling good. That’s why we exist.
                                    Get your four legged animal to visit us onceand we will become friends. </p>
                                <p> We understand how you feel when you pooch is not feeling good. That’s why we exist.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="dc_spacer_t_60 dc_spacer_b_60">
            <div class="main-container">
                <div class="pageTeam_sec">
                    <div class="row rowSpace">

                        <div class="col-md-3">
                            <div class="dcTeam_bx mrg-b-60">
                                <div class="dcTeam_img mrg-b-30">
                                    <img src="/assets/images/advisor-team-1.png" class="w-100" alt="">
                                </div>
                                <div class="teamName_sec text-center mrg-b-30">
                                    <div class="teamName f-w-B f-s-24 line_H_1">
                                        Dr. Vinod Sharma
                                    </div>
                                    <div class="teamDesignation text-uppercase">
                                        LEAD OF DOCTORS
                                    </div>
                                </div>

                                <div class="teamDesc text-center f-s-18 line_H_1_3 letterNormal mrg-b-20">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt. </p>
                                </div>

                                <div class="teamRead_more text-center line_H_1">
                                    <a href="#" class="dc_readmore font-rubik f-w-M">
                                        Read More
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dcTeam_bx mrg-b-60">
                                <div class="dcTeam_img mrg-b-30">
                                    <img src="/assets/images/advisor-team-2.png" class="w-100" alt="">
                                </div>
                                <div class="teamName_sec text-center mrg-b-30">
                                    <div class="teamName f-w-B f-s-24 line_H_1">
                                        Dr. Vinod Sharma
                                    </div>
                                    <div class="teamDesignation text-uppercase">
                                        LEAD OF DOCTORS
                                    </div>
                                </div>

                                <div class="teamDesc text-center f-s-18 line_H_1_3 letterNormal mrg-b-20">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt. </p>
                                </div>

                                <div class="teamRead_more text-center line_H_1">
                                    <a href="#" class="dc_readmore font-rubik f-w-M">
                                        Read More
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dcTeam_bx mrg-b-60">
                                <div class="dcTeam_img mrg-b-30">
                                    <img src="/assets/images/advisor-team-1.png" class="w-100" alt="">
                                </div>
                                <div class="teamName_sec text-center mrg-b-30">
                                    <div class="teamName f-w-B f-s-24 line_H_1">
                                        Dr. Vinod Sharma
                                    </div>
                                    <div class="teamDesignation text-uppercase">
                                        LEAD OF DOCTORS
                                    </div>
                                </div>

                                <div class="teamDesc text-center f-s-18 line_H_1_3 letterNormal mrg-b-20">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt. </p>
                                </div>

                                <div class="teamRead_more text-center line_H_1">
                                    <a href="#" class="dc_readmore font-rubik f-w-M">
                                        Read More
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dcTeam_bx mrg-b-60">
                                <div class="dcTeam_img mrg-b-30">
                                    <img src="/assets/images/advisor-team-2.png" class="w-100" alt="">
                                </div>
                                <div class="teamName_sec text-center mrg-b-30">
                                    <div class="teamName f-w-B f-s-24 line_H_1">
                                        Dr. Vinod Sharma
                                    </div>
                                    <div class="teamDesignation text-uppercase">
                                        LEAD OF DOCTORS
                                    </div>
                                </div>

                                <div class="teamDesc text-center f-s-18 line_H_1_3 letterNormal mrg-b-20">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt. </p>
                                </div>

                                <div class="teamRead_more text-center line_H_1">
                                    <a href="#" class="dc_readmore font-rubik f-w-M">
                                        Read More
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dcTeam_bx mrg-b-60">
                                <div class="dcTeam_img mrg-b-30">
                                    <img src="/assets/images/advisor-team-1.png" class="w-100" alt="">
                                </div>
                                <div class="teamName_sec text-center mrg-b-30">
                                    <div class="teamName f-w-B f-s-24 line_H_1">
                                        Dr. Vinod Sharma
                                    </div>
                                    <div class="teamDesignation text-uppercase">
                                        LEAD OF DOCTORS
                                    </div>
                                </div>

                                <div class="teamDesc text-center f-s-18 line_H_1_3 letterNormal mrg-b-20">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt. </p>
                                </div>

                                <div class="teamRead_more text-center line_H_1">
                                    <a href="#" class="dc_readmore font-rubik f-w-M">
                                        Read More
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dcTeam_bx mrg-b-60">
                                <div class="dcTeam_img mrg-b-30">
                                    <img src="/assets/images/advisor-team-2.png" class="w-100" alt="">
                                </div>
                                <div class="teamName_sec text-center mrg-b-30">
                                    <div class="teamName f-w-B f-s-24 line_H_1">
                                        Dr. Vinod Sharma
                                    </div>
                                    <div class="teamDesignation text-uppercase">
                                        LEAD OF DOCTORS
                                    </div>
                                </div>

                                <div class="teamDesc text-center f-s-18 line_H_1_3 letterNormal mrg-b-20">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt. </p>
                                </div>

                                <div class="teamRead_more text-center line_H_1">
                                    <a href="#" class="dc_readmore font-rubik f-w-M">
                                        Read More
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dcTeam_bx mrg-b-60">
                                <div class="dcTeam_img mrg-b-30">
                                    <img src="/assets/images/advisor-team-1.png" class="w-100" alt="">
                                </div>
                                <div class="teamName_sec text-center mrg-b-30">
                                    <div class="teamName f-w-B f-s-24 line_H_1">
                                        Dr. Vinod Sharma
                                    </div>
                                    <div class="teamDesignation text-uppercase">
                                        LEAD OF DOCTORS
                                    </div>
                                </div>

                                <div class="teamDesc text-center f-s-18 line_H_1_3 letterNormal mrg-b-20">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt. </p>
                                </div>

                                <div class="teamRead_more text-center line_H_1">
                                    <a href="#" class="dc_readmore font-rubik f-w-M">
                                        Read More
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="dcTeam_bx mrg-b-60">
                                <div class="dcTeam_img mrg-b-30">
                                    <img src="/assets/images/advisor-team-2.png" class="w-100" alt="">
                                </div>
                                <div class="teamName_sec text-center mrg-b-30">
                                    <div class="teamName f-w-B f-s-24 line_H_1">
                                        Dr. Vinod Sharma
                                    </div>
                                    <div class="teamDesignation text-uppercase">
                                        LEAD OF DOCTORS
                                    </div>
                                </div>

                                <div class="teamDesc text-center f-s-18 line_H_1_3 letterNormal mrg-b-20">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt. </p>
                                </div>

                                <div class="teamRead_more text-center line_H_1">
                                    <a href="#" class="dc_readmore font-rubik f-w-M">
                                        Read More
                                    </a>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="row rowSpace">
                    <div class="col-md-12">
                        <ul class="list-unstyled d-flex flex-wrap justify-content-center mt__60 dc_btnList-spc_60">
                            <li><a href="#" class="pagebtn dc_btn_min f-w-B">Make an appointment</a></li>
                            <li><a href="#" class="pagebtn pagebtnblue dc_btn_min f-w-B">Get Direction</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


    </div>
