<!-- topsection -->
<div class="topSlider_sec" *ngIf="homepage.topsection">
    <div class="main-container">
       <div class="row no-gutters">
          <div class="col-md-6 align-self-center">
             <div class="topBanner_sec">
                <div class="bannerTxtWrap">
                   <div class="titleWrap mrg-b-30 ">
                      <h1 class="f-w-B headingSec line_H_1"> {{homepage.topsection.heading}} </h1>
                   </div>
                   <div class="hrLine mrg-b-30"></div>
                   <div class="bannerTxt" [innerHTML]="topsectionContent">
                      <!-- <p> We understand how you feel when you pooch is not feeling good. That’s why we exist. Get your four legged animal to visit us once and we will become friends. </p>
                      <p> We understand how you feel when you pooch is not feeling good. That’s why we exist. Get your four legged animal to visit us once and we will become friends. </p> -->
                   </div>
                   <div class="btnSec">
                      <a [href]="homepage.topsection.button_link" class="pagebtn f-w-B">
                        {{homepage.topsection.button_text}}
                      </a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="bannerImg_sec">
                <img [src]="homepage.topsection.image.link" class="w-100" [alt]="homepage.topsection.image.alt" />
             </div>
          </div>
       </div>
    </div>
</div>
<!-- topsection End-->

<!-- aboutsection -->
 <div class="spacer_t_30 spacer_b_30 bg-white">
    <div class="main-container">
       <div class="row rowSpace">
          <div class="col-md-6 align-self-center">
             <div class="aboutDCC_wrap">
                <div class="dccSubTitle f-w-B opacity-5 mrg-b-60 text-uppercase">
                   {{homepage.aboutsection.smallheading}}
                </div>
                <div class="mrg-b-30 ">
                   <h2 class="f-w-B headingSec line_H_1"> {{homepage.aboutsection.heading}}  </h2>
                </div>
                <div class="hrLine mrg-b-30"></div>
                <div class="bannerTxt" [innerHTML]="aboutsectionContent">
                   <!-- <p> For all your beloved pets– dogs, cats, and more; we are here to serve as a safe, stress-free, and clean environment. Spread over 45000 sq. ft, your pet can enjoy the amenities at our one-stop full-service facility which is fully supervised to give them complete physical and emotional care </p> -->
                </div>
                <div class="btnSec">
                   <a [href]="homepage.aboutsection.button_link" class="pagebtn f-w-B">
                   {{homepage.aboutsection.button_text}}
                   </a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="aboutDCC_img">
                <div class="abtdcc_imgSec_1">
                   <img [src]="homepage.aboutsection.image1.link" class="w-100" [alt]="homepage.aboutsection.image1.alt">
                </div>
                <div class="abtdcc_imgSec_2">
                   <img [src]="homepage.aboutsection.image1.link" class="w-100" [alt]="homepage.aboutsection.image1.alt">
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--aboutsection End -->

 <!-- servicesection -->
 <div class="spacer_t_30 spacer_b_30">
    <div class="main-container">
       <div class="row rowSpace">
          <div class="col-md-6 align-self-center">
             <div class="aboutDCC_wrap">
                <div class="dccSubTitle f-w-B opacity-5 mrg-b-60 text-uppercase">
                  {{homepage.servicesection.smallheading}}
                </div>
                <div class="mrg-b-30 ">
                   <h2 class="f-w-B headingSec line_H_1"> Our Service Is To <br> Make Every Animal <br> Lover Happy    </h2>
                </div>
                <div class="hrLine mrg-b-30"></div>
                <div class="bannerTxt mrg-b-30">
                   <p> We understand how you feel when you pooch is not feeling good. That’s why we exist. Get your four legged animal to visit us once and we will become friends. </p>
                </div>
                <div class="serviceList_sec mrg-b-60">
                   <ul class="mb-0 serviceSec">
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Consultation </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> OPD </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Surgery </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Radiography </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Ultrasonography </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Dentistry </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Ophthalmology </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> ENT </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Vaccination </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Pathology </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> ICU </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Boarding </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Grooming </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Daycare </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Activities </a> </li>
                      <li class="service-item"> <a href="#" class="serviceLink transtn-1"> Cardiology </a> </li>
                   </ul>
                </div>
                <div class="btnSec">
                   <div class="btnSec_wra d-inline">
                      <a href="#" class="pagebtn f-w-B">
                      All Services
                      </a>
                   </div>
                   <div class="btnSec_wra d-inline">
                      <a href="#" class="pagebtn pagebtnblue f-w-B">
                      Book an appointment
                      </a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="servicebox_sec">
                <div class="row rowSpace">
                   <div class="col-md-6">
                      <div class="serviceBx bx-shadow text-center">
                         <div class="service_iconSec">
                            <img src="./assets/images/service-icon-1.svg" class="w-100" alt="Vacation Boarding">
                         </div>
                         <div class="serviceTxt f-w-B line_H_1">
                            Vacation Boarding
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="serviceBx bx-shadow text-center">
                         <div class="service_iconSec">
                            <img src="./assets/images/service-icon-2.svg" class="w-100" alt="Vacation Boarding">
                         </div>
                         <div class="serviceTxt f-w-B line_H_1">
                            Dentistry
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="serviceBx bx-shadow text-center">
                         <div class="service_iconSec">
                            <img src="./assets/images/service-icon-3.svg" class="w-100" alt="Vacation Boarding">
                         </div>
                         <div class="serviceTxt f-w-B line_H_1">
                            OPD
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="serviceBx bx-shadow text-center">
                         <div class="service_iconSec">
                            <img src="./assets/images/service-icon-4.svg" class="w-100" alt="Vacation Boarding">
                         </div>
                         <div class="serviceTxt f-w-B line_H_1">
                            Cardiology
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="serviceBx bx-shadow text-center">
                         <div class="service_iconSec">
                            <img src="./assets/images/service-icon-1.svg" class="w-100" alt="Vacation Boarding">
                         </div>
                         <div class="serviceTxt f-w-B line_H_1">
                            Vacation Boarding
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="serviceBx bx-shadow text-center">
                         <div class="service_iconSec">
                            <img src="./assets/images/service-icon-2.svg" class="w-100" alt="Vacation Boarding">
                         </div>
                         <div class="serviceTxt f-w-B line_H_1">
                            Dentistry
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="serviceBx bx-shadow text-center">
                         <div class="service_iconSec">
                            <img src="./assets/images/service-icon-3.svg" class="w-100" alt="Vacation Boarding">
                         </div>
                         <div class="serviceTxt f-w-B line_H_1">
                            OPD
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="serviceBx bx-shadow text-center">
                         <div class="service_iconSec">
                            <img src="./assets/images/service-icon-4.svg" class="w-100" alt="Vacation Boarding">
                         </div>
                         <div class="serviceTxt f-w-B line_H_1">
                            Cardiology
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<!-- servicesection End -->

<!-- teamsection -->
 <div class="spacer_t_30 spacer_b_30 bg-white">
    <div class="main-container">
       <div class="row rowSpace">
          <div class="col-md-6">
             <div class="aboutDCC_wrap">
                <div class="dccSubTitle f-w-B opacity-5 mrg-b-60 text-uppercase">
                  {{homepage.teamsection.smallheading}}
                </div>
                <div class="mrg-b-30 ">
                   <h2 class="f-w-B headingSec line_H_1"> {{homepage.teamsection.heading}} </h2>
                </div>
                <div class="hrLine mrg-b-30"></div>
                <div class="bannerTxt" [innerHTML]="teamsectionContent">
                   <!-- <p> {{homepage.teamsection.content}} </p> -->
                </div>
                <div class="btnSec">
                   <a [href]="homepage.teamsection.button_link" class="pagebtn f-w-B">
                  {{homepage.teamsection.button_text}}
                   </a>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="team-wrap">
                <div class="img-1">
                   <img [src]="./assets/images/team.jpg" class="w-100" alt="Team DCC" />
                   <div class="content-wrap">
                      <div class="row no-gutters">
                         <div class="col-auto">
                            <div class="user-img"><img src="./assets/images/user-icon.svg" alt="icon" /></div>
                         </div>
                         <div class="col">
                            <div class="user-name">Dr. Vinood Sharma</div>
                            <div class="user-live">Available now</div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="img-2">
                   <img src="./assets/images/team.jpg" class="w-100" alt="Team DCC" />
                   <div class="content-wrap">
                      <div class="row no-gutters">
                         <div class="col-auto">
                            <div class="user-img"><img src="./assets/images/user-icon.svg" alt="icon" /></div>
                         </div>
                         <div class="col">
                            <div class="user-name">Dr. Vinood Sharma</div>
                            <div class="user-live">Available now</div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<!-- teamsection End -->

<!-- pethealthsection -->
 <div class="spacer_t_30 spacer_b_30">
    <div class="main-container">
       <div class="row rowSpace">
          <div class="col-md-6 align-self-center">
             <div class="aboutDCC_wrap">
                <div class="dccSubTitle f-w-B opacity-5 mrg-b-60 text-uppercase">
                   Pet Health
                </div>
                <div class="mrg-b-3 ">
                   <h2 class="f-w-B headingSec line_H_1"> Our Aim Is To <br /> Educate Every Animal Lover </h2>
                </div>
                <div class="hrLine mrg-b-30"></div>
                <div class="bannerTxt mrg-b-30">
                   <p> We understand how you feel when you pooch is not feeling good. That’s why we exist. Get your four legged animal to visit us once and we will become friends. </p>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-6 col-md-4">
             <div class="pethealth-box">
                <div class="img-wrap"><img src="./assets/images/ref.jpg" class="w-100" alt="" /></div>
                <div class="detail">Medicine <span>Aug 6, 2021 </span></div>
                <div class="title">Medicine for deworming</div>
             </div>
          </div>
          <div class="col-sm-6 col-md-4">
             <div class="pethealth-box">
                <div class="img-wrap"><img src="./assets/images/ref.jpg" class="w-100" alt="" /></div>
                <div class="detail">Medicine <span>Aug 6, 2021 </span></div>
                <div class="title">Medicine for deworming</div>
             </div>
          </div>
          <div class="col-sm-6 col-md-4">
             <div class="pethealth-box">
                <div class="img-wrap"><img src="./assets/images/ref.jpg" class="w-100" alt="" /></div>
                <div class="detail">Medicine <span>Aug 6, 2021 </span></div>
                <div class="title">Medicine for deworming</div>
             </div>
          </div>
          <div class="col-sm-6 col-md-4">
             <div class="pethealth-box">
                <div class="img-wrap"><img src="./assets/images/ref.jpg" class="w-100" alt="" /></div>
                <div class="detail">Medicine <span>Aug 6, 2021 </span></div>
                <div class="title">Medicine for deworming</div>
             </div>
          </div>
          <div class="col-sm-6 col-md-4">
             <div class="pethealth-box">
                <div class="img-wrap"><img src="./assets/images/ref.jpg" class="w-100" alt="" /></div>
                <div class="detail">Medicine <span>Aug 6, 2021 </span></div>
                <div class="title">Medicine for deworming</div>
             </div>
          </div>
          <div class="col-sm-6 col-md-4">
             <div class="pethealth-box">
                <div class="img-wrap"><img src="./assets/images/ref.jpg" class="w-100" alt="" /></div>
                <div class="detail">Medicine <span>Aug 6, 2021 </span></div>
                <div class="title">Medicine for deworming</div>
             </div>
          </div>
       </div>
       <div class="btnSec">
          <a href="#" class="pagebtn f-w-B">
          More blogs
          </a>
       </div>
    </div>
 </div>
<!-- pethealthsection End -->

<!-- footersection -->
 <div class="spacer_t_30 spacer_b_30 bg-white">
    <div class="main-container">
       <div class="row rowSpace align-items-center">
          <div class="col-md-10">
             <div class="aboutDCC_wrap">
                <div class="dccSubTitle f-w-B opacity-5 mrg-b-60 text-uppercase">
                   
                </div>
                <div class="mrg-b-30 ">
                   <h2 class="f-w-B headingSec line_H_1"> Our Intent Is To be <br /> Available At Anytime Of The Day</h2>
                </div>
                <div class="hrLine mrg-b-30"></div>
                <div class="bannerTxt">
                   <p> Download our mobile application on App Store & Playstore <br /> and keep your animal healthy. </p>
                </div>
                <div class="btnSec">
                   <a href="#" class="pagebtn f-w-B">
                   Meet Our Doctors
                   </a>
                </div>
             </div>
          </div>
          <div class="col-md-2 text-right">
             <div class="app-store"><img src="./assets/images/app-store.svg" alt="app store" /></div>
             <div class="google-play"><img src="./assets/images/google-play.svg" alt="app store" /></div>
          </div>
       </div>
    </div>
 </div>
<!-- footersection End -->