/*** About DCC ***/
img {
	max-width:100%;
}
p, ul, h1, h2, h3, h4, h5, h6 {
	margin-bottom:2.083vw;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
}
.dc_spacer_t_90 {
	padding-top:6.250vw;
}
.dc_spacer_b_90 {
	padding-bottom:6.250vw;
}
.mt__90 {margin-top:6.250vw;}
.mb__90 {margin-bottom:6.250vw;}
.dc_spacer_t_60 {
	padding-top:4.167vw;
}
.dc_spacer_b_60 {
	padding-bottom:4.167vw;
}
.mt__60 {margin-top:4.167vw;}
.mb__60 {margin-bottom:4.167vw;}
.dc_spacer_t_30 {
	padding-top:2.083vw;
}
.dc_spacer_b_30 {
	padding-bottom:2.083vw;
}
.mt__30 {margin-top:2.083vw;}
.mb__30 {margin-bottom:2.083vw;}

.row_gutter_30, .dc_btnList-spc_60 {
	margin-left:-2.083vw;
	margin-right:-2.083vw;
}
.row_gutter_30>.col, .row_gutter_30>[class*=col], .dc_btnList-spc_60>li {
    padding-right: 2.083vw;
    padding-left: 2.083vw;
}
.row_gutter_45 {
	margin-left:-3.125vw;
	margin-right:-3.125vw;
}
.row_gutter_45>.col, .row_gutter_45>[class*=col] {
    padding-right: 3.125vw;
    padding-left: 3.125vw;
}
.row_gutter_15 {
	margin-left:-1.042vw;
	margin-right:-1.042vw;
}
.row_gutter_15>.col, .row_gutter_15>[class*=col] {
    padding-right: 1.042vw;
    padding-left: 1.042vw;
}


.dc_last_p p:last-child {
	margin-bottom:0;
}
.dc_pg_spcHead {
	padding-top:14.931vw !important;
}
.dc_pgHead_wrap {
    background-color: #2EAD5A;
    color: #fff;
    padding: 4.167vw 2.083vw;
    border-radius: 1.111vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.dc_pg_title {
	font-size:3.214vw;
	padding-bottom:1.042vw;
	position:relative;
	margin-bottom:1.042vw;
}
.dc_pg_title:after {
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	background-color:#fff;
	height:4px;
	width:60px;
	transform:translateX(-50%);
}
.dc_cstBread {
    padding: 0;
    font-size: .972vw;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0;
	letter-spacing:.069vw;
}
.dc_cstBread a, .dc_cstBread .breadcrumb-item.active, .dc_cstBread .breadcrumb-item+.breadcrumb-item::before {
	color:#fff;
}
.dc_cstBread .breadcrumb-item+.breadcrumb-item {
    padding-left: .278vw;
}
.dc_cstBread .breadcrumb-item+.breadcrumb-item::before {
    padding-right: .278vw;
    content: ">";
}
.dc_rds_8 {
    border-radius: 8px;
    overflow: hidden;
}
.dc_wrap_abt_Img {
    box-shadow: 0 1.389vw 2.778vw 0 #f1f1f1;
}
.dc_wrapCols_UD>li:nth-child(2n) {
    margin-top: 2.083vw;
}
.pagebtn.dc_btn_min {
	min-width:14.583vw;
}
/*** End About DCC ***/