<!-- Loader Start -->
<div id="preloader" *ngIf="loading">
   <div id="status">
       <div id="cms-loadding">
           <div class="loading-spinner">
               <div class="cms-bounce1"></div>
               <div class="cms-bounce2"></div>
               <div class="cms-bounce3"></div>
           </div>
       </div>
   </div>
</div>
<!-- Loader End -->
<div class="dc_pg_spcHead">
    <div class="main-container">
       <div class="dc_pgHead_wrap text-center" style="background-image:url(assets/images/head-bg.jpg);">
          <h1 class="dc_pg_title">Contact Us</h1>
          <ol class="breadcrumb dc_cstBread f-w-B justify-content-center">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
             <li class="breadcrumb-item">Contact us</li>
             <li class="breadcrumb-item active">{{contact.pagetitle}}</li>
          </ol>
       </div>
    </div>
    <div class="dc_spacer_t_90 dc_spacer_b_60">
       <div class="main-container">
          <div class="row row_gutter_30">
             <div class="col-md-6">
                <div class="dc_txtSummary">
                   <h2 class="headingSec line_H_1 mrg-b-30">{{contact.details.heading}}</h2>
                </div>
                <div class="hrLine mrg-b-30"></div>
             </div>
          </div>
          <div class="row row_gutter_30">
             <div class="col-md-6">
                <div class="dc_txtSummary">
                   <div class="dc_txt_summary dc_last_p text-justify" [innerHTML]="contact.details.left_content">
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="dc_txtSummary">
                   <div class="dc_txt_summary dc_last_p text-justify" [innerHTML]="contact.details.right_content">
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="dc_spacer_t_30 dc_spacer_b_30">
       <div class="main-container">
          <div class="btnSec text-center">
             <div class="btnSec_wra d-inline" *ngFor="let cn of contact.details.contactlist">
                <a href="{{cn.slug}}" class="pagebtn pagebtngreen f-w-B">
                {{cn.name}}
                </a>
             </div>
             <!-- <div class="btnSec_wra d-inline">
                <a href="#" class="pagebtn f-w-B">
                    Gurgaon
                </a>
                </div>
                <div class="btnSec_wra d-inline">
                <a href="#" class="pagebtn pagebtngreen f-w-B">
                    New Delhi
                </a>
                </div> -->
          </div>
       </div>
    </div>
    <div class="dc_spacer_t_30 dc_spacer_b_30">
       <div class="main-container">
          <div class="row row_gutter_30">
             <div class="col-md-6">
                <div class="row">
                   <div class="col-12">
                      <div class="teamPage_wrap mar-b-30">
                         <img src="{{contact.details.image_1.link}}" class="w-100">
                      </div>
                   </div>
                   <div class="col-12">
                      <div class="teamPage_wrap mar-b-30">
                         <img src="{{contact.details.image_2.link}}" class="w-100">
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="careers-form">
                   <div class="dccSubTitle f-w-B opacity-5 mrg-b-30 text-uppercase">
                      GURGAON
                   </div>
                </div>
                <div class="dc_txtSummary">
                   <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="contact.address_heading"> </h2>
                </div>
                <div class="contnt opacity-5 mrg-b-30" [innerHTML]="contact.address">
                </div>
                <div [innerHTML]="contacts"></div>
                <div class="row rowSpace">
                   <div class="col-md-12">
                      <div class="commonLinks text-center contactGet">
                         <ul class="list-unstyled d-flex flex-wrap">
                            <!-- <li class="contactList-item">
                               <div class="dropSec position-relative">
                                  <a href="javascript:void(0)"
                                     class="ml-0 pagebtn pagebtnblue dc_btn_min f-w-B getDirection">{{contact.details.button_1_text}}</a>
                                  <div class="directionList transtn-1 ml-0">
                                     <ul class="dire_listSec mb-0 list-unstyled">
                                        <li class="list-item"> <a href="{{contact.details.locations[0].link}}" class="direLink"> {{contact.details.locations[0].name}}
                                           </a> 
                                        </li>
                                        <li class="list-item"> <a href=" {{contact.details.locations[1].link}}" class="direLink">  {{contact.details.locations[1].name}}
                                           </a> 
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                            </li> -->
                            <li class="contactList-item">
                              <div ngbDropdown class="dropSec position-relative directList">
                                <a href="javascript:void(0)" class="pagebtn pagebtnblue dc_btn_min f-w-B getDirection" ngbDropdownToggle id="dropdownMenuButton">{{contact.details.button_1_text}}</a>
               
                                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="dirList">
                                   <ul class="dire_listSec mb-0 list-unstyled" *ngFor="let buttondata of contact.details.locations">
                                      <li class="list-item"> <a [routerLink]="buttondata.link" class="direLink" >{{buttondata.name}}</a> </li>
                                   </ul>
                                </div>
                              </div>
                           </li>
                            <li class="contactList-item"><a href="{{contact.details.button_2_link}}" class="pagebtn dc_btn_min f-w-B">{{contact.details.button_2_text}}</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <app-footer-top [dataString]="footersection"></app-footer-top>