

    <div class="dc_pg_spcHead">

        <div class="main-container">
            <div class="dc_pgHead_wrap text-center" style="background-image:url(/assets/images/head-bg.jpg);">
                <h1 class="dc_pg_title">Contact Us</h1>
                <ol class="breadcrumb dc_cstBread f-w-B justify-content-center">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">Contact us</li>
                    <li class="breadcrumb-item active">Gurgaon</li>
                </ol>
            </div>
        </div>

        <div class="dc_spacer_t_90 dc_spacer_b_60">
            <div class="main-container">
                <div class="row row_gutter_30">
                    <div class="col-md-6">
                        <div class="dc_txtSummary">
                            <h2 class="headingSec line_H_1 mrg-b-30">We Are Just A Phone Call Away</h2>
                        </div>
                        <div class="hrLine mrg-b-30"></div>
                    </div>
                </div>

                <div class="row row_gutter_30">
                    <div class="col-md-6">
                        <div class="dc_txtSummary">
                            <div class="dc_txt_summary dc_last_p text-justify">
                                <p>We understand how you feel when you pooch is not feeling good. That’s why we exist.
                                    Get your four legged animal to visit us once and we will become friends.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="dc_txtSummary">
                            <div class="dc_txt_summary dc_last_p text-justify">
                                <p>We understand how you feel when you pooch is not feeling good. That’s why we exist.
                                    Get your four legged animal to visit us once and we will become friends.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dc_spacer_t_30 dc_spacer_b_30">
            <div class="main-container">
                <div class="btnSec text-center">
                    <div class="btnSec_wra d-inline">
                        <a href="#" class="pagebtn f-w-B">
                            All Services
                        </a>
                    </div>
                    <div class="btnSec_wra d-inline">
                        <a href="#" class="pagebtn pagebtngreen f-w-B">
                            Book an appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="dc_spacer_t_30 dc_spacer_b_30">
            <div class="main-container">
                <div class="row row_gutter_30">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="teamPage_wrap mar-b-30">
                                    <img src="/assets/images/vacation-boarding.png" class="w-100">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="teamPage_wrap mar-b-30">
                                    <img src="/assets/images/vacation-boarding.png" class="w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="careers-form">
                            <div class="dccSubTitle f-w-B opacity-5 mrg-b-30 text-uppercase">
                                GURGAON
                            </div>
                        </div>
                        <div class="dc_txtSummary">
                            <h2 class="headingSec line_H_1 mrg-b-30">DCC Animal Hospital & Petcare</h2>
                        </div>
                        <div class="contnt opacity-5 mrg-b-30">
                            Jagdamba Farm, Carterpuri Marg, Sector 23A, Gurugram, Haryana – 122016
                        </div>
                        <div class="mrg-b-30">
                            <h2 class="f-w-B f-s-24 line_H_1"> Quick Contacts </h2>
                            <div class="f-s-18 qCont">
                                <a href="tel:(+91) 9311560101"><strong>Gurgaon:</strong> (+91) 9311560101</a>
                            </div>
                            <div class="f-s-18 qCont">
                                <a href="tel:(+91) 9311560101"><strong>GK Landline:</strong> (+91) 9311560101</a>
                            </div>
                            <div class="f-s-18 qCont">
                                <a href="mailto:info@dccpets.in"><strong>Email:</strong> info@dccpets.in</a>
                            </div>
                        </div>
                        <div class="dc_txtSummary mrg-b-30">
                            <h2 class="f-w-B f-s-24 line_H_1 mrg-b-30">Opening Hours</h2>
                            <div class="f-s-18 qCont">
                                <div><strong>Gurgaon:</strong> 10AM - 5PM daily.</div>
                            </div>
                        </div>
                        <div class="dc_txtSummary mrg-b-30">
                            <div class="f-s-18 qCont">* Grooming closed on Tuesdays.</div>
                            <div class="f-s-18 qCont">* Clinic closed on Sundays.</div>
                        </div>
                        <div class="btnSec">

                            <div class="btnSec_wra d-inline">
                                <a href="#" class="ml-0 pagebtn pagebtnblue f-w-B">
                                    Get Direction
                                </a>
                            </div>
                            <div class="btnSec_wra d-inline">
                                <a href="#" class="mar-l-30 pagebtn f-w-B">
                                    Make An Appointment
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
