<div class="spacer_t_30 spacer_b_30 bg-green footer">
    <div class="main-container">
       <div class="row rowSpace align-items-center">
         <div class="col-md-6">
           <ul class="list-unstyled left-sec">
             <li>
               <div class="icon"><img src="./assets/images/address-pin.svg" alt="pin" /></div>
               <div class="content">
                 <p><strong>Gurgaon</strong></p>
                 <p>Jagdamba Farm, Carterpuri Marg, Sector 23A, Gurugram,Haryana – 122016</p>
                 <p><strong>New Delhi</strong></p>
                 <p>E-556, Greater Kailash Part-II, New Delhi – 110048</p>
               </div>
             </li>
              <li>
               <div class="icon"><img src="./assets/images/call-icon.svg" alt="call" /></div>
               <div class="content">
                 <p><strong>Gurgaon</strong> (+91) 9311560101</p>
                 <p><strong>New Delhi</strong> (+91) (+91) 9311560101</p>
               </div>
             </li>
              <li>
               <div class="icon"><img src="./assets/images/clock-icon.svg" alt="call" /></div>
               <div class="content">
                 <p><strong>Gurgaon</strong> 10AM - 5PM daily.</p>
                 <p><strong>New Delhi</strong> 10 AM - 5 PM Daily</p>
               </div>
             </li>
             </ul>
         </div>
         <div class="col-md-6">
           <div class="row">
             <div class="col-md-4">
               <ul class="list-unstyled">
                 <div class="title">Quick link</div>
                 <li><a href="#">About DCC</a></li>
                 <li><a href="#">Our Services</a></li>
                 <li><a href="#">Our Team</a></li>
                 <li><a href="#">Contact Us</a></li>
               </ul>
             </div>
             <div class="col-md-4">
               <ul class="list-unstyled">
               <div class="title">Department</div>
               <li><a href="#">Who We are</a></li>
               <li><a href="#">Our Mission</a></li>
               <li><a href="#">Awards</a></li>
               <li><a href="#">Experience</a></li>
             </ul>
             </div>
             <div class="col-md-4">
               <ul class="list-unstyled">
               <div class="title">Other</div>
               <li><a href="#">Faqs</a></li>
               <li><a href="#">Careers</a></li>
               <li><a href="#">Press & Media</a></li>
               <li><a href="#">Experience</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
       <div class="divider"></div>
       <div class="footer-bottom">
       <div class="row">
         <div class="col">
           <ul class="list-unstyled logo-sec d-inline-flex">
             <li>
               <div><a href="#"><img src="./assets/images/footer-logo.png" alt="footer logo" /></a></div>
               <div class="social-icon">
                 <a href="#"><img src="./assets/images/fb.svg" alt="" /></a>
                 <a href="#"><img src="./assets/images/insta.svg" alt="" /></a>
                 <a href="#"><img src="./assets/images/linkedin.svg" alt="" /></a>
               </div>
             </li>
             <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br /> do eiusmod tempor incididunt ut labore et dolore magna <br />aliqua Lorem ipsum should fix the margin.</li>
           </ul>
         </div>
         <div class="col-4">
           <div>Get updates about your pets health and more</div>
           <div class="email-search">
             <form>
             <div class="input-group mb-3">
               <input type="text" class="form-control" placeholder="Your Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
               <div class="input-group-append">
                 <button class="btn" type="button">Send</button>
               </div>
             </div>
             </form>
           </div>
         </div>
       </div>
       </div>
    </div>
 </div>