<div class="dc_pg_spcHead">
    <div class="main-container">
       <div class="dc_pgHead_wrap text-center" style="background-image:url(/assets/images/head-bg.jpg);">
          <h1 class="dc_pg_title">{{vacationdata.pagetitle}}</h1>
          <ol class="breadcrumb dc_cstBread f-w-B justify-content-center">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
             <li class="breadcrumb-item">Our Services</li>
             <li class="breadcrumb-item active">{{vacationdata.pagetitle}}</li>
          </ol>
       </div>
    </div>
    <div class="dc_spacer_t_90 spacer_b_30">
       <div class="main-container">
          <div class="row row_gutter_30">
             <div class="col-md-12">
                <div class="row no-gutters">
                   <div class="col-md-6">
                      <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="heading"></h2>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="dc_txtSummary">
                   <div class="dc_txt_summary dc_last_p text-justify">
                     <p [innerHTML]="left_content"></p>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="dc_txtSummary">
                   <div class="dc_txt_summary dc_last_p text-justify">
                    <p [innerHTML]="right_content"></p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="spacer_t_30 spacer_b_90">
       <div class="main-container">
          <div class="vacationbox_sec ">
             <div class="row rowSpace">
                <div class="col-md-6">
                   <div class="vactoionBoarding_sec">
                      <div class="vacationImg_Wrap">
                         <div class="vacationImg mrg-b-30">
                            <img src="/assets/images/vacation-boarding.png" class="w-100">
                         </div>
                         <div class="vacationImg mrg-b-90">
                            <img src="/assets/images/vacation-boarding.png" class="w-100">
                         </div>
                      </div>
                      <div class="dc_txtSummary">
                         <div class="dc_txt_summary dc_last_p text-justify">
                           <p [innerHTML]="left_content_bottom"></p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="vactoionBoarding_sec">
                      <div class="vacationImg_Wrap">
                         <div class="vacationImg mrg-b-30">
                            <img src="/assets/images/vacation-boarding.png" class="w-100">
                         </div>
                         <div class="vacationImg mrg-b-30">
                            <img src="/assets/images/vacation-boarding.png" class="w-100">
                         </div>
                      </div>
                      <div class="dc_txtSummary">
                         <div class="dc_txt_summary dc_last_p text-justify">
                         <p [innerHTML]="right_content_bottom"></p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <ul class="list-unstyled d-flex flex-wrap justify-content-center mt__60 dc_btnList-spc_60">
             <li><a [href]="vacationdata.details.button_1_link" class="pagebtn dc_btn_min f-w-B">{{vacationdata.details.button_1_text}}</a></li>
             <li><a href="#" class="pagebtn pagebtnblue dc_btn_min f-w-B">{{vacationdata.details.button_2_text}}</a></li>
          </ul>
       </div>
    </div>
    <div class="dc_spacer_t_90 spacer_b_30 bg-white">
       <div class="main-container">
          <div class="row rowSpace">
             <div class="col-md-12">
                <div class="row no-gutters">
                   <div class="col-md-6">
                      <div class="aboutDCC_wrap mrg-b-60">
                         <div class="dccSubTitle f-w-B opacity-5 mrg-b-60 text-uppercase">
                          {{vacationdata.faqsection.smallheading}}
                         </div>
                         <div class="mrg-b-30 ">
                            <h2 class="f-w-B headingSec line_H_1" [innerHTML]="faqheading"> </h2>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="faqSec">
                   <div class="accordion" id="faq_left">
                      <div class="faq_card">
                         <div class="card-header" id="faqhead1">
                            <a href="#" class="btn btn-header-link f-w-B" data-toggle="collapse"
                               data-target="#faq1" aria-expanded="true" aria-controls="faq1">How long should a
                            dog be kept in a dog shelter?</a>
                         </div>
                         <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq_left">
                            <div class="card-body">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                               incididunt ut labore et. Consectetur adipiscing elit, sed do eiusmod tempor
                            </div>
                         </div>
                      </div>
                      <div class="faq_card">
                         <div class="card-header" id="faqhead2">
                            <a href="#" class="btn btn-header-link collapsed f-w-B" data-toggle="collapse"
                               data-target="#faq2" aria-expanded="true" aria-controls="faq2">How long should a
                            dog be kept in a dog shelter?</a>
                         </div>
                         <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq_left">
                            <div class="card-body">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                               incididunt ut labore et. Consectetur adipiscing elit, sed do eiusmod tempor
                            </div>
                         </div>
                      </div>
                      <div class="faq_card">
                         <div class="card-header" id="faqhead3">
                            <a href="#" class="btn btn-header-link collapsed f-w-B" data-toggle="collapse"
                               data-target="#faq3" aria-expanded="true" aria-controls="faq3">How long should a
                            dog be kept in a dog shelter?</a>
                         </div>
                         <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq_left">
                            <div class="card-body">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                               incididunt ut labore et. Consectetur adipiscing elit, sed do eiusmod tempor
                            </div>
                         </div>
                      </div>
                      <div class="faq_card">
                         <div class="card-header" id="faqhead4">
                            <a href="#" class="btn btn-header-link collapsed f-w-B" data-toggle="collapse"
                               data-target="#faq4" aria-expanded="true" aria-controls="faq4">How long should a
                            dog be kept in a dog shelter?</a>
                         </div>
                         <div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq_left">
                            <div class="card-body">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                               incididunt ut labore et. Consectetur adipiscing elit, sed do eiusmod tempor
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="faqSec">
                   <div class="accordion" id="faq_right">
                      <div class="faq_card">
                         <div class="card-header" id="faqhead1">
                            <a href="#" class="btn btn-header-link f-w-B" data-toggle="collapse"
                               data-target="#faq5" aria-expanded="true" aria-controls="faq1">How long should a
                            dog be kept in a dog shelter?</a>
                         </div>
                         <div id="faq5" class="collapse show" aria-labelledby="faqhead5"
                            data-parent="#faq_right">
                            <div class="card-body">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                               incididunt ut labore et. Consectetur adipiscing elit, sed do eiusmod tempor
                            </div>
                         </div>
                      </div>
                      <div class="faq_card">
                         <div class="card-header" id="faqhead6">
                            <a href="#" class="btn btn-header-link collapsed f-w-B" data-toggle="collapse"
                               data-target="#faq6" aria-expanded="true" aria-controls="faq6">How long should a
                            dog be kept in a dog shelter?</a>
                         </div>
                         <div id="faq6" class="collapse" aria-labelledby="faqhead2" data-parent="#faq_right">
                            <div class="card-body">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                               incididunt ut labore et. Consectetur adipiscing elit, sed do eiusmod tempor
                            </div>
                         </div>
                      </div>
                      <div class="faq_card">
                         <div class="card-header" id="faqhead3">
                            <a href="#" class="btn btn-header-link collapsed f-w-B" data-toggle="collapse"
                               data-target="#faq7" aria-expanded="true" aria-controls="faq7">How long should a
                            dog be kept in a dog shelter?</a>
                         </div>
                         <div id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq_right">
                            <div class="card-body">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                               incididunt ut labore et. Consectetur adipiscing elit, sed do eiusmod tempor
                            </div>
                         </div>
                      </div>
                      <div class="faq_card">
                         <div class="card-header" id="faqhead8">
                            <a href="#" class="btn btn-header-link collapsed f-w-B" data-toggle="collapse"
                               data-target="#faq8" aria-expanded="true" aria-controls="faq8">How long should a
                            dog be kept in a dog shelter?</a>
                         </div>
                         <div id="faq8" class="collapse" aria-labelledby="faqhead8" data-parent="#faq_right">
                            <div class="card-body">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                               incididunt ut labore et. Consectetur adipiscing elit, sed do eiusmod tempor
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <app-footer-top [dataString]="footersection"></app-footer-top>