
      <div class="dc_pg_spcHead">
         <div class="errorPage">
            <div class="main-container">
               <div class="row rowSpace justify-content-center">
                  <div class="col-md-8">
                     <div class="errorSec">
                        <div class="errorTitle">
                           <img src="./assets/images/404.svg" class="w-100" alt="">
                        </div>
                        <div class="errorTxt text-center spacer_b_30">
                           The Resource you are looking for Might be moved or dose not exist.
                        </div>
                        <div class="backBtn spacer_b_90">
                           <ul class="list-unstyled d-flex flex-wrap justify-content-center dc_btnList-spc_60">
                              <li><a href="/" class="pagebtn dc_btn_min f-w-B">Return to homepage</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
