<!-- Loader Start -->
<div id="preloader" *ngIf="loading">
   <div id="status">
       <div id="cms-loadding">
           <div class="loading-spinner">
               <div class="cms-bounce1"></div>
               <div class="cms-bounce2"></div>
               <div class="cms-bounce3"></div>
           </div>
       </div>
   </div>
</div>
<!-- Loader End -->
<div class="dc_pg_spcHead" *ngIf="mediadata">
    <div class="main-container">
      <fieldset data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
       <div class="dc_pgHead_wrap text-center" style="background-image:url(./assets/images/head-bg.jpg);">
          <h1 class="dc_pg_title">{{mediadata.pagetitle}}</h1>
          <ol class="breadcrumb dc_cstBread f-w-B justify-content-center">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
             <li class="breadcrumb-item active">{{mediadata.pagetitle}}</li>
          </ol>
       </div>
       </fieldset>
    </div>
    <div class="dc_spacer_t_90 dc_spacer_b_60">
       <div class="main-container">
          <div class="row row_gutter_30">
             <div class="col-md-6">
                <div class="dc_txtSummary" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                   <h2 class="headingSec line_H_1 mrg-b-30" [innerHTML]="heading"></h2>
                </div>
                <div class="hrLine mrg-b-30" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400"></div>
             </div>
          </div>
          <div class="row row_gutter_30">
             <div class="col-md-6">
                <div class="dc_txtSummary">
                   <div class="dc_txt_summary dc_last_p text-justify" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                    <p [innerHTML]="left_content"></p>
                   </div>
                </div>
             </div>
             <div class="col-md-6">
                <div class="dc_txtSummary">
                   <div class="dc_txt_summary dc_last_p text-justify" data-aos="fade-up" data-aos-duration="700" data-aos-delay="800">
                   <p [innerHTML]="right_content"></p>
                   </div>
                </div>
             </div>
          </div>
          <div class="row rowSpace dc_spacer_t_90" *ngFor="let data of medianews">
             <div class="col-md-6" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                <div class="teamPage_wrap mar-b-30">
                   <img [src]="data.image.link" class="w-100" [alt]="data.image.alt">
                </div>
             </div>
             <div class="col-md-6" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                <div class="aboutDCC_wrap mar-b-30">
                   <div class="dccSubTitle f-w-B opacity-5 mrg-b-30 text-uppercase">
                     {{data.date}}
                   </div>
                   <div class="mrg-b-30">
                      <h2 class="f-w-B f-s-24 line_H_1"> {{data.name}} </h2>
                   </div>
                   <div class="bannerTxt teamTxt">
                      <p>{{data.description}}</p>
                   </div>
                   <a [href]="data.readmore" class="dc_readmore font-rubik">
                   Read more
                   </a>
                </div>
             </div>             
          </div>
       </div>
    </div>
</div>