<div class="spacer_t_30 spacer_b_30 bg-white" *ngIf="showfooterTop">
    <div class="main-container">
       <div class="row rowSpace align-items-center">
          <div class="col-md-10">
             <div class="aboutDCC_wrap" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                <div class="dccSubTitle f-w-B opacity-5 mrg-b-60 text-uppercase">
                </div>
                <div class="mrg-b-30 " >
                   <h2 class="f-w-B headingSec line_H_1" [innerHTML]="heading"> 
                   </h2>
                </div>
                <div class="hrLine mrg-b-30"></div>
                <div class="bannerTxt">
                   <p [innerHTML]="content"></p>
                </div>
             </div>
          </div>
          <div class="col-md-2 text-md-right">
             <div class="app-store" *ngIf="footersection" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                <a [href]="footersection.app_store_link" class="storeLink">
                <img [src]="footersection.app_store_image.link" [alt]="footersection.app_store_image.alt" class="w-100" />
                </a>
             </div>
             <div class="google-play" *ngIf="footersection" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                <a [href]="footersection.play_store_link" class="storeLink">
                <img [src]="footersection.play_store_image.link" [alt]="footersection.play_store_image.alt" class="w-100" />
                </a>
             </div>
          </div>
       </div>
    </div>
</div>